PORT=3000
API_KEY=troque_por_uma_chave_forte
CURRENTS_API_KEY=cole_a_sua_chave_currents_aqui
GNEWS_API_KEY=cole_a_sua_chave_gnews_aqui
REQUIRE_API_KEY=true
DEFAULT_LANGUAGE=en
CACHE_TTL=60
ARTICLE_CACHE_TTL=1800
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=90
SCRAPER_TIMEOUT_MS=18000
SCRAPER_MAX_HTML_BYTES=8388608
GDELT_MIN_INTERVAL_MS=5500
SEARXNG_INSTANCES=https://search.jeremyh.xyz,https://searx.tsmdt.de,https://search.serpensin.com,https://search.anoni.net,https://searx.ononoki.org
